{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-glass p-4">
      <h1 class="h5 mb-2">Gestão • Login</h1>
      <div class="muted small mb-3">Digite a senha para acessar os resultados.</div>

      <form method="post" class="vstack gap-3">
        <input name="password" type="password" class="form-control form-control-lg" placeholder="Senha" required>
        <button class="btn btn-primary btn-big" type="submit">Entrar</button>
        <a class="btn btn-outline-light btn-big" href="/">Voltar</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
